@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input{
	border: none !important;
	outline: none !important;
	border-bottom: 1px solid #fff !important;
	box-shadow: 0 1px 0 0 #fff !important;
	color: #fff !important;
}

input.yellow-input + label {
	color: #fff !important;
	transform: translateY(-14px) scale(0.8) !important;
	transform-origin: 0 0 !important;
}

input.yellow-input:focus + label {
	color: #ffeb3b !important;
}

input.yellow-input:focus{
	border-bottom: 1px solid #ffeb3b !important;
	box-shadow: 0 1px 0 0 #ffeb3b !important;
}